@import url("https://use.typekit.net/hxu0vzl.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    select,
    options {
        outline: none;
        border: 2px solid #064789;
        padding: 2px;
    }

    thead tr th,
    td,
    tr {
        padding: 4px;
    }

    thead tr th {
        min-height: 80px;
    }

    button {
        font-weight: bolder;
        background-color: #064789;
        width: fit-content;
        height: fit-content;
        padding: 8px;
        border-radius: 10px;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}